html, body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: #40d2aa;
  height: 140px;
  top: 0;
  position: fixed;
  width: 100%;
  padding-left: 30px;
}

h1 {
  font-weight: 400;
  margin: 0;
  font-size: 48px;
}

a {
  font-weight: 700;
  color: #40d2aa;
  text-decoration: none;
}

h2 {
  font-size: 16px;
  margin: 0;
}

ul {
  // text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style: none;
  cursor: pointer;
}

li:after {
  content: "  // ";
  color: grey;
}

li:last-child:after {
  margin-right: 0;
  content: "";
}


p {
  font-size: 2vw;
  line-height: 4vw;
  margin-bottom: 5px;
}

small {
  margin: 0;
}


.main-nav {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  padding-left: 15px;
}

.nav-cat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.everything {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  background: #eaeaea;
}

.container-one-info-and-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;

}

.container-image {
  justify-content: flex-start;
  max-width: 55%;
}

img {
  max-width: 100%;
}

.container-image img {
  width: 100%;
  height: 50%;
}

.container-info {

  width: 45%;
  padding: 0px 35px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */  
}

.sub-nav {
  margin-left: 15px;
}

.mini-nav {
  display: inline;
  margin-right: 15px;
}

.nav-cat img {
  max-width: 50px;
}

.nav-sm {
  align-self: flex-end;
  flex-direction: column;
  margin-right: 50px
}

.nav-sm img {
  max-height: 40px;
  top: -15px;

}

.break {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: grey;
  text-align: center;
}
