html, body {
  margin: 0;
  padding: 0;
  line-height: 1.4;

}

body {
    background-size: cover;
    background: url("http://i.imgur.com/d7Q4JYf.jpg");
    background-position: right top;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;
    }

main {
  height: 90vh;
  overflow: hidden;
}

section {
  height: 90vh;
}

.wideContainer {
  width: 515vw;
}

.containerContainer {
  width: 100vw;
  float: left;
}

.textContainer {
  width: 35%;
  float: left;
  padding-left: 14%;
  transform: rotate(-7deg);
}

.imgContainer {
  width: 34%;
  float: left;
  margin-top: -6%;
  padding-left: 7%;
}

.music .imgContainer {
  padding-left: 13%;
}

.music .textContainer {
  padding-left: 8%;
}

.imgContainer img, .textContainer img {
  width: 100%;
}

section p, h2 {
  padding-bottom: 16px;
}

section img {
 /* width: 30%;
  float: left;*/
}


.web {
  background: lightpink;
  transform: rotate(5deg);
  position: relative;
  right: 30px;
  width: 105vw;
}

.web img {
  transform:rotate(-5deg);
}

.music {
  background: turquoise;
  transform: rotate(-2deg);
  position: relative;
  right: 30px;
  bottom: 140px; 
  min-width: 105vw;
}

.music h1 {
  text-align: right;
  padding-right: 40px;
}
  
h1, .arrow, .backArrow {
    font-size: 75px;
    color: rgba(255, 255, 255, .75);  
    margin: 20px;
    font-family: monospace;
}

.arrow, .backArrow {
    /*line-height: 45vh;   change this so it's harder to click  */
    position: fixed;
    font-size: 100px;
    cursor: pointer;
    z-index: 1000;

}

.arrow {
  right: 50px;
}

.backArrow {
  left: 34px;
  transform: rotate(175deg);
  top: 35%;
}

/*.colorChange {
  animation-play-state: running;
  animation-name: arrowColors;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes arrowColors {
  0%,
  100% {
    color: rgba(255, 255, 255, .75);  
;
  }
  50% {
    color: rgba(0, 0, 0, .75);
  }
}*/

h2 {
    font-size: 30px;
    color: rgba(0, 0, 0, .75);
    font-family: monospace;
    margin: 0px;
    }
    
p {
    font-size: 20px;
    color: rgba(0, 0, 0, .75);
    font-family: monospace;
    margin: 0px;
    } 
    
.seethruBox {
    display: inline-block;   
    padding: 5px 20px 20px 20px;
    max-width: 410px;
    background-color: rgba(255, 255, 255, .75);
    margin: 5px 0 10px 20px;
    }
    
ul {
    font-size: 20px;
    color: rgba(0, 0, 0, .75);
    font-family: monospace;
    margin: -10px 0px 10px 0px;;
    }
    
a { 
    color: rgba(0, 0, 0, .75);
    text-decoration: underline;
    }

a h2 {
    text-decoration: none;
    display: inline-block;
}
    
a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .35);

    }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
    
@media (max-width: 945px){
  
  .web {
    width: 115vw;
    min-height: 105vh;
  }

  .music {
    width: 115vw;
  }

  .textContainer {
    width: 70%;
    padding-top: 0px;
    padding-left: 0px;
    transform: rotate(-8deg);
    padding-bottom: 3%;
  }

  .music .textContainer {
    padding-top: 15px;
  }

  .imgContainer {
    width: 60%;
    margin-top: 0;
    padding-left: 0;
  }


  .music .imgContainer {
    width: 34%;
  }

  .music .textContainer {
    padding-left: 22%;
  }

  .web .imgContainer, .web .textContainer {
    float: none;
    padding-left: 5%;
  }

  .web .imgContainer {
    transform: rotate(-1deg);
    padding-left: 10%;
  }

  .seethruBox {
    display: block;
    margin: 0 auto;
  }

  .seethruBox p {
    width: 95%;
    margin: 0 auto;
  }

  .arrow {
    transform: rotate(5deg);
    margin-right: 10%;
  }

  .backArrow {
    transform: rotate(175deg);
    margin-left: 5%;
  }

  .arrow, .backArrow {
    top: -3%;
    font-size: 48px;
  }

  img {
    width: 100%;
  }

  h1 {
    font-size: 48px;
    text-align: center;
    margin: 5px;
        }

  .music h1 {
    text-align: center;
  }
        
  div {
    display:block;
    margin: 0 auto;
  }

  h2 {
    font-size:30px;
        }

  .music h2 {
    line-height: 1.2;
    font-size: 26px;
  }

  p {
    font-size: 18px;
        }

  ul {
    font-size: 18px;
        }

  a {
    font-size:18px;
        }
}
    
