// LRG --> font-family: 'Bungee Shade', cursive;
// MED --> font-family: 'Bungee', cursive;
// SML --> font-family: 'Bungee Hairline', cursive;

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4em;
  //color:yellow;
}

h2, h3, h4, h5, h6 {
  font-weight: 100, 200, 300, 400;
  color: @txt2p1;
  font-size: 3em;
  font-family: 'Bungee', cursive;
}

p {
  font-size: 16px;
  color: black;
  font-family: 'Bungee Hairline', cursive;
}

a {
  color: @txt2p1;
}

div {
  text-align: center;
  font-family: 'Bungee', cursive;
}

body {
	background-color: @bg2;
}

.spin {
  display: none;
  font-size: 2em;
  font-family: 'Bungee', cursive;
}

.p1Info, .p2Info {
	border: 1px black dotted;
  font-size: 1.5em;
  font-family: 'Bungee Hairline', cursive;  
}

.wordHolder {
	font-size:2em;
  font-family: 'Bungee', cursive;
}

.pointHolder {
  display: none;
  font-size:2.2em;
  font-family: 'Bungee', cursive;
}

.letters {
  font-size: 1.2em;
  font-family: 'Bungee Hairline', cursive;  
}

.messageHolder {
  display: none;
  font-size: 1.5em;
  font-family: 'Bungee Hairline', cursive;
}

.lightbox-container {
  position: fixed;
  background: rgba(0,0,0,.75);
  top: 50px;
  left: 50px;
  width:80%;
  height: 80%; 
}

.lightbox-content {
  width:800px;
  margin:auto;
  position: relative;
  font-size: 18px;
}


