// LRG --> font-family: 'Bungee Shade', cursive;
// MED --> font-family: 'Bungee', cursive;
// SML --> font-family: 'Bungee Hairline', cursive;

html, body {
  background: no-repeat center center fixed;
  background-image: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: @bgLounge;
}

body { 
min-height: 700px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4em;
  //color:yellow;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

h2, h3, h4, h5, h6 {
  font-weight: 100, 200, 300, 400;
  color: @black;
  font-size: 3em;
  font-family: 'Bungee', cursive;
}

p {
  font-size: 16px;
  color: black;
  font-family: 'Bungee Hairline', cursive;
}

a {
  color: @black;
}

div {
  text-align: center;
  font-family: 'Bungee', cursive;
}

footer {
  position: fixed;
  bottom: 0;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
}

ul {
  display:flex;
  justify-content: space-around;
  align-items:flex-end;  font-family: 'Bungee Hairline', cursive;
  list-style: none;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

li {
    display:inline;
}

li:hover {
  cursor: pointer;
}

.col-2 {
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.spin {
  display: none;
  font-size: 2em;
  font-family: 'Bungee Hairline', cursive;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.p1Info, .p2Info {
	border: 1px black dotted;
  font-size: 1.5em;
  font-family: 'Bungee Hairline', cursive;  
}

.wordHolder {
	font-size:2em;
  font-family: 'Bungee', cursive;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.pointHolder {
  display: none;
  font-size:2.2em;
  font-family: 'Bungee Hairline', cursive;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.letters {
  font-size: 1.2em;
  font-family: 'Bungee Hairline', cursive; 
  color: inherit;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; 
}

.messageHolder {
  display: none;
  font-size: 18px;
  font-family: 'Bungee', cursive;
  user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../media/snaps.png) no-repeat;
    background-size: cover; 
    display: none;
}
