body {
  background-image: url("img/tres.jpg");
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
}

main {
  background: rgba(256,256,256,.7);
  margin: 1% 5%;
}

h1 {
  font-size: 100px;
  color: #ff87c9;
  text-align: center;
  margin: 1% 0 0 0 ;
}

a {
  color: #ff87c9;
}

main p {
  font-size: 70px;
  padding: 1% 3%;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: bottom;
}

.fullbar {
  width: 100%;
  min-height: 150px;
}

.hot {
  background-color: #ff87c9;
}


ul {
    margin: -1% 5% 0%;
    background: url(img/blur.png) no-repeat;
    font-size: 57px;
    padding: 2% 6% 2%;
}

@media (max-width: 480px) {
  h1 {
    font-size: 69px;
  }
  main p {
    font-size: 45px;
  }
  ul {
    margin: -1% 0 0 0;
  }
  li {
    list-style: none;
  }
}
