
body {
  transition: background 0.5s ease;

}

div.shape {
  -webkit-clip-path: polygon(51% 24%, 21% 92%, 84% 76%);
  clip-path: polygon(51% 24%, 21% 92%, 84% 76%);
  border: 2px solid goldenrod;
}


div.clipped-element {
  width: 100px;
  height: 100px;
  background: black;
  transition: background 0.9s linear;


  /* Refers to the inline SVG clipPath element above */
  // clip-path: url(#inline-svg-clipPath);

  /* Refers to an external SVG using the same contents of the inline SVG above. */
  /*clip-path: url(path/to/image.svg#inline-svg-clipPath);*/

  /* CSS polygon clip-path */
  /*clip-path: polygon(45% 15%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */

  /* CSS circle clip-path */
   clip-path: circle(30px at 35px 35px); 

  /* CSS ellipse clip-path */
  /*clip-path: ellipse(65px 30px at 125px 40px);*/
 }
