<!DOCTYPE html>
<html>
<head>
    <title>Rep Request</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/../css/style.css" />
</head>

<body>
<header>
  <a href="/"<h1>Rep Request</h1></a>
</header>

<%= yield %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/../js/main.js"></script>
<script src="https://apis.google.com/js/client.js?onload=load"></script>


</body>
</html>
